

#login {

  .title {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
  }

  .am-input-item {
    padding-right: 15px;
  }

  .am-list-line {
    padding-right: 0;
  }

  .register {
    text-align: center;
  }
}
