#login .title {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center; }

#login .am-input-item {
  padding-right: 15px; }

#login .am-list-line {
  padding-right: 0; }

#login .register {
  text-align: center; }
