

.components-blog-list.am-list-view-scrollview {

  .am-list-body {
    &::before, &::after {
      content: none;
    }
  }

  .blog-list-separator {
    height: 10px;
    background-color: #f5f5f9;
  }

  .am-list-footer {
    padding: 0;
  }
}

.components-blog-list-item {
  padding: 15px 0;

  .picture-wrap {
    $picture-space: 5px;

    ul, li {
      padding: 0;
      list-style: none;
    }

    ul {
      overflow: hidden;
      margin-right: -$picture-space;
    }

    li {
      float: left;
      position: relative;
      box-sizing: border-box;
      width: 33.33%;
      padding-right: $picture-space;
      padding-bottom: $picture-space;
    }

    .placeholder {
      padding-bottom: 100%;
    }

    .img {
      position: absolute;
      left: 0;
      right: $picture-space;
      top: 0;
      bottom: $picture-space;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #ededed;
    }
  }
}

.components-blog-list-status {
  text-align: center;
  padding: 9px 15px 15px 15px;
}
